.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #55AD9B;
    width: 100vw;
    height: 10vh;
    color: white;
}

footer p {
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

.contact{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}