.footer-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2% 5%;
    background-color: #000000;
    color: white;
    height: 30vh;
    width: 100%;
}
.f-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex : 1;
}

.f-logo-img{
    width: 17%;
    height: 60%;
    margin-right: 1%;
    border: 2px solid white;
}
.f-text{
    border: 2px solid white;
    padding: 1%;
}
.f-navigate{
    text-decoration: none;
}