/* .hero-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid red;
    height: 100vh;
}
.hero-img{
    display: flex;
    width: 100%;
    height: 80%;
} */