.hero-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0 5%;
  background:
    radial-gradient(circle at 50% 45%,
      rgba(255, 165, 0, 0.85) 0%,
      rgba(255, 140, 0, 0.6) 30%,
      rgba(120, 40, 20, 0.6) 55%,
      rgba(30, 5, 5, 0.95) 70%),
    linear-gradient(#E2743D);
}

.hero-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 26%;
  height: 85%;
  border-radius: 20px;
  z-index: 1 ;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 60%;
  margin-top: 20px;
  font-size: 3vh;
  font-weight: 500;
  font-feature-settings: "swsh";
  margin-left: 10vh;
  margin-right: auto;
  text-align: left;
  z-index: 2 ;
}