.hero-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid red;
    height: 100vh;
}
.hero-img{
    display: flex;
    width: 40%;
    height: 80%;
    border-radius: 20px;
}